<h2>Textové pole</h2>
<input v-model="text">
<p>{{ text }}</p>

<h2>Checkbox (zaškrtnutí)</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Vybráno: {{ checked }}</label>

<!--
  přes hodnotu v-model se může na stejné pole
  odkazovat více checkboxů
-->
<h2>Multi Checkbox</h2>
<input type="checkbox" id="jan" value="Jan" v-model="checkedNames">
<label for="jan">Jan</label>
<input type="checkbox" id="petr" value="Petr" v-model="checkedNames">
<label for="petr">Petr</label>
<input type="checkbox" id="tereza" value="Tereza" v-model="checkedNames">
<label for="tereza">Tereza</label>
<p>Vybraná jména: {{ checkedNames }}</p>

<h2>Radio (přepínač)</h2>
<input type="radio" id="one" value="Jedna" v-model="picked">
<label for="one">Jedna</label>
<br>
<input type="radio" id="two" value="Dva" v-model="picked">
<label for="two">Dva</label>
<p>Vybráno: {{ picked }}</p>

<h2>Select (výběr)</h2>
<select v-model="selected">
  <option disabled value="">Vyberte jednu možnost</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Vybráno: {{ selected }}</p>

<h2>Multi Select</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Vybráno: {{ multiSelected }}</p>
